@use 'variables' as v; 
/* Global settings */

/* rem configuration */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

/* body */

.body-index {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    

    .tridimensional_form_1,
    .tridimensional_form_1_v2,
    .tridimensional_form_2,
    .tridimensional_form_3,
    .tridimensional_form_4_v2,
    .tridimensional_form_5{
        z-index: -1;
        position: absolute;
    }

    .tridimensional_form_1 {
        top: 0;
        left: 0;
        transform: translate(-12%, -30%);
    }

    .tridimensional_form_1_v2 {
        top: 80rem;
        left: 0;
        transform: translate(-22%, 100%);
    }

    .tridimensional_form_2 {
        top: 0;
        right: 0;
        transform: translate(20%, -30%);
    }

    .tridimensional_form_3 {
        left: 0;
        top: 0;
        transform: translate(-15%, 80%);
    }
    
    .tridimensional_form_4 {
        position: absolute;
        z-index: -3;
        right: 0;
        top: 0;
        transform: translate(10%, 80%);
    }

    .tridimensional_form_4_v2 {
        right: 0;
        bottom: 0;
        transform: translate(6%);
    }

    .tridimensional_form_5 {
        right: 0;
        top: 90rem;
        transform: translate(28%, 100%);
    }

    .tridimensional_form_5_shadow {
        position: absolute;
        z-index: -2;
        right: 0;
        top: 90rem;
        transform: translate(20%, 92%);
    }

    &.overflow-hidden {
        overflow: hidden;
    }
}

.body-postoperatory {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body-coworking {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body-results {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body-service {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo5.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    .tridimensional_form_1,
    .tridimensional_form_2,
    .tridimensional_form_1_par{
        z-index: -1;
        position: absolute;
    }

    .tridimensional_form_1 {
        top: 0;
        left: 0;
        transform: translate(-15%, -40%);
    }

    .tridimensional_form_2 {
        top: 0;
        right: 0;
        transform: translate(20%, -30%);
    }

    .tridimensional_form_1_par {
        right: 0;
        transform: translate(20%, 65%);
    }
}

.body-social_media {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo5.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    .tridimensional_form_1,
    .tridimensional_form_2,
    .tridimensional_form_3,
    .tridimensional_form_1_par{
        z-index: -1;
        position: absolute;
    }

    .tridimensional_form_1 {
        top: 0;
        left: 0;
        transform: translate(-15%, -40%);
    }

    .tridimensional_form_2 {
        top: 0;
        right: 0;
        transform: translate(20%, -30%);
    }

    .tridimensional_form_3 {
        left: 0;
        
        transform: translate(-25%, 60%);
    }

    .tridimensional_form_1_par {
        right: 0;
        transform: translate(20%, 65%);
    }
}

p {
    color: v.$white;
    line-height: 1.5;
}
.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
    font-weight: 900;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 7.6rem;
}
h3 {
    font-size: 8rem;
    text-align: center;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
body > section {
    padding: 10rem 0
}