@use 'variables' as v; 
/* Global settings */

/* rem configuration */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

/* body */

body {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;


    &.overflow-hidden {
        overflow: hidden;
    }
}
p {
    color: v.$white;
    line-height: 1.5;
}
.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
    font-weight: 900;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 4rem;
    text-align: center;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
body > section {
    padding: 10rem 0
}