@use 'variables' as v;
@use 'mixins' as m;
/* Global settings */

/* rem configuration */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

/* body */

html, body,.body-index {
    overflow-x: hidden;
}

.body-index {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .tridimensional_form_1,
    .tridimensional_form_1_v2,
    .tridimensional_form_2,
    .tridimensional_form_3,
    .tridimensional_form_4_v2,
    .tridimensional_form_5{
        z-index: -1;
        position: absolute;
    }

    .tridimensional_form_1 {
        top: 0;
        left: 0;
        transform: translate(-50%, -190%);
        @include m.desktop {
            transform: translate(-30%, -30%);
        }
        @include m.desktopXL {
            transform: translate(-32%, -45%);
        }
        @include m.desktopXXL {
            transform: translate(-12%, -30%);
        }
    }

    .tridimensional_form_1_v2 {
        top: 80rem;
        left: 0;
        transform: translate(-22%, -700%);
        @include m.desktop {
            transform: translate(-22%, 60%);
        }
        @include m.desktopXL {
            transform: translate(-32%, 70%);
        }
        @include m.desktopXXL {
            transform: translate(-22%, 70%);
        }
    }

    .tridimensional_form_2 {
        top: 0;
        right: 0;
        transform: translate(50%, -240%);
        @include m.desktop {
            transform: translate(50%, -20%);    
        }
        @include m.desktopXL {
            transform: translate(20%, -30%);
        }
        @include m.desktopXXL {
            transform: translate(20%, -30%);
        }
    }

    .tridimensional_form_3 {
        left: 0;
        top: 0;
        transform: translate(-40%, -420%);
        @include m.desktop{
            transform: translate(-40%, 70%);
        }
        @include m.desktopXL {
            transform: translate(-40%, 60%);
        }
        @include m.desktopXXL {
            transform: translate(-15%, 60%);
        }
    }
    
    .tridimensional_form_4 {
        position: absolute;
        z-index: -3;
        right: 0;
        top: 0;
        transform: translate(10%, -550%);
        @include m.desktop {
            transform: translate(10%, 60%);
        }
        @include m.desktopXL {
            transform: translate(10%, 55%);
        }
        @include m.desktopXXL {
            transform: translate(10%, 60%);
        }
    }

    .tridimensional_form_4_v2 {
        right: 0;
        bottom: 0;
        transform: translate(-106%, -130%);
        @include m.desktop {
            transform: translate(25%);
        }
        @include m.desktopXL {
            transform: translate(10%, -35%);
        }
        @include m.desktopXXL {
            transform: translate(6%);
        }
    }

    .tridimensional_form_5 {
        right: 0;
        top: 90rem;
        transform: translate(28%, -880%);
        @include m.desktop {
            transform: translate(28%, 90%);
        }
        @include m.desktopXL {
            transform: translate(28%, 80%);
        }
        @include m.desktopXXL {
            transform: translate(28%, 80%);
        }
    }

    .tridimensional_form_5_shadow {
        position: absolute;
        z-index: -2;
        right: 0;
        top: 90rem;
        transform: translate(20%, -860%);
        @include m.desktopXL {
            transform: translate(20%, 72%);
        }
        @include m.desktopXXL {
            transform: translate(20%, 72%);
        }
    }

    &.overflow-hidden {
        overflow: hidden;
    }
}

.body-postoperatory {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include m.desktop {
        background-image: url(../../src/img/fondo2.png);
    }
}

.body-coworking {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include m.desktop {
        background-image: url(../../src/img/fondo3.png);
    }
}

.body-results {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include m.desktop {
        background-image: url(../../src/img/fondo4.png);
    }
}

.body-service {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo5.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    .tridimensional_form_1,
    .tridimensional_form_2,
    .tridimensional_form_1_par{
        z-index: -1;
        position: absolute;
    }

    .tridimensional_form_1 {
        top: 0;
        left: 0;
        transform: translate(-115%, -40%);
        @include m.desktop {
            transform: translate(-40%, -50%);
        }
        @include m.desktopXL {
            transform: translate(-35%, -40%);
        }
        @include m.desktopXXL {
            transform: translate(-15%, -40%);
        }
    }

    .tridimensional_form_2 {
        top: 0;
        right: 0;
        transform: translate(120%, -30%);
        @include m.desktop {
            transform: translate(40%, -35%);
        }
        @include m.desktopXL {
            transform: translate(35%, -30%);
        }
        @include m.desktopXXL {
            transform: translate(20%, -30%);
        }
    }

    .tridimensional_form_1_par {
        right: 0;
        transform: translate(120%, 65%);
        @include m.desktop {
            transform: translate(20%, 340%);
        }
        @include m.desktopXL {
            transform: translate(20%, 165%);
        }
        @include m.desktopXXL {
            transform: translate(20%, 65%);
        }
    }
}

.body-social_media {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo5.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    .tridimensional_form_1,
    .tridimensional_form_2,
    .tridimensional_form_3,
    .tridimensional_form_1_par{
        z-index: -1;
        position: absolute;
    }

    .tridimensional_form_1 {
        left: 0;
        top: 0;
        transform: translate(-100%);
        @include m.desktop {
            top: 0;
            left: 0;
            transform: translate(-15%, -40%);
        }
    }

    .tridimensional_form_2 {
        top: 0;
        right: 0;
        transform: translate(100%);
        @include m.desktop {
            top: 0;
            right: 0;
            transform: translate(20%, -30%);
        }
    }

    .tridimensional_form_3 {
        left: 0;
        transform: translate(-100%, 60%);
        @include m.desktop {
            left: 0;
            transform: translate(-25%, 60%);
        }
    }

    .tridimensional_form_1_par {
        right: 0;
        transform: translate(100%, 65%);
        @include m.desktop {
            right: 0;
            transform: translate(20%, 65%);
        }
    }
}

.body-quote {
    font-family: v.$main_font;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$white;
    font-size: 2rem;
    background-image: url(../../src/img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include m.desktop {
        background-image: url(../../src/img/fondo3.png);
        height: 108rem;
    }
}

p {
    color: v.$white;
    line-height: 1.5;
}
.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
    font-weight: 900;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 7.6rem;
}
h3 {
    font-size: 8rem;
    text-align: center;
}

body > section {
    padding: 10rem 0
}