// Fonts
$cursive_font : "Great Vibes", cursive;
$main_font : Arial, Helvetica, sans-serif;

// Colors
$blue:#8781f2;
$brown: #a8816d;
$black: #000000;
$white: #FFFFFF;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;