@use 'base/variables' as v;
@use 'base/mixins' as m;

.main-content {
    
    
}

main {
    @include m.grid(2);
    align-items: center;
    justify-content: center;

    .description {
        padding: 4rem;
        border-radius: 5rem;
        background-color: v.$blue;
        align-items: center;
        text-align: center;
    }
}

.main-img {
    margin-left: 10rem;
    img {
        width: 40rem;
    }
}