@use 'base/variables' as v;
@use 'base/mixins' as m;

.reviews_and_questions {
    @include m.desktop {
        position: relative;
    }

    .reviews_title {
        background-color: v.$blue;
        width: 100%;
        padding: 2rem;
        text-align: center;
        @include m.desktop {
            z-index: -2;  // Pon el texto en un nivel superior
            position: absolute;  // Para asegurar que el z-index se aplique correctamente
            text-align: left;
        }
        
        h2 {
            font-family: v.$main_font;
            font-weight: 100;
            margin: 0;
            @include m.desktop {
                margin-left: 30rem;
            }
        }
    }
}

.reviews {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include m.desktop {
        margin-top: 25rem;
        margin-left: 10rem;
        display: grid;
        grid-template-columns: 35% 65%;
        align-items: center;
        justify-items: center;
        
    }

    .review_input {
        background-color: rgba($color: rgb(214,211,210), $alpha: 1.0);
        border-radius: 7rem;
        width: 35rem;
        height: 35rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.30);
        @include m.desktop {
            max-height: 50rem;
            height: 50rem;
            max-width: 45rem;
            width: 50rem;
        }

        p { 
            margin: 0;
            text-align: center;
            color: v.$blue;
            font-size: 3rem;
        }
    }

    
}

.clients_reviews {
    margin-top: 8rem;
    display: flex;
    justify-items: center;
    align-items: center;
    @include m.desktop {
        margin-top: 0;
    }

    .client_review {
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        padding: 4rem 4rem 0rem 4rem;
        background-color: rgba($color: rgb(214,211,210), $alpha: 1.0);
        border-radius: 7rem;
        color: v.$blue;
        box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.30);
        @include m.tablet {
            height: 50rem;
            width: 65rem;
        }
        @include m.desktop {
            height: 50rem;
            width: 65rem;
        }

        h4 {
            font-weight: 400;
            font-size: 2.7rem;
        }

        p {
            margin: 0;
            color: v.$blue;
            font-size: 2.1rem;
            line-height: 1;
        }

        hr {
            width: 100%;
            color: v.$blue;
        }
    }

    .arrows {
        max-width: 15rem;
        max-height: 15rem;
        cursor: pointer;
        @include m.desktop {
            max-width: 20rem;
            max-height: 20rem;
        }

        &:hover {
            filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(107%) contrast(107%);
            transition: all .3s ease-in;
        }
    }
}

.likes {
    display: flex;
    justify-content: flex-start;
    margin: 0rem 1rem 1rem 0rem;
    img {
        margin: 0;
        max-width: 5rem;
        max-height: 5rem;
    }
    p {
        margin: 0;
        display: flex;
        align-items: center;
    }
}

.frequent_questions {
    margin-top: 5rem;
    @include m.desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include m.desktopXXL {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .question_title {
        background: rgb(228,194,171);
        background: linear-gradient(90deg, rgba(228,194,171,1) 0%, rgba(228,192,171,1) 48%, rgba(217,255,255,1) 100%); 
        height: auto;
        width: 100%;
        border-radius: 5rem;
        @include m.tablet {
            margin-top: 15rem;
            width: 65rem;
            height: 8rem;
        }
        
        @include m.desktopXXL {
            height: 8rem;
            margin-left: 1rem;
            width: 65rem;
        }

        h2 {
            padding: 1rem 0 1rem 0;
            text-align: center;
            font-size:5rem;
            font-weight: 100;
            color: v.$blue;
            @include m.desktop {
                padding: 1rem 0 0 0;
            }
        }
    }
}

.questions {
    @include m.desktopXXL {
        @include m.grid(2);
        row-gap: 0rem;
    }

    .question1,
    .question2,
    .question3,
    .question4 {
        display: flex;
        justify-content: end;
        margin-left: 2rem;
        @include m.desktop {
            justify-content: center;
            margin-left: 1rem;
        }

        h2 {
            width: 100rem;
            height: auto;
            border-radius: 2.3rem;
            padding: 1rem;
            text-align: start;
            font-size:3rem;
            font-weight: 100;
            background-color: v.$blue;
            @include m.desktop {
                width: 80rem;
                margin-bottom: 0;
                text-align: center;
            }
        }

        img {
            width:9rem;
            height: 7rem;
        }
    }

    .question1 {
        margin-top: 5rem;
    }

    .question1,
    .question2 {
        @include m.desktopXXL { 
            margin-bottom: 0;
        }
    }

    .question2,
    .question3,
    .question4 {
        @include m.desktop {
            margin-top: 5rem;
        }
    }
}