@use 'base/variables' as v;
@use 'base/mixins' as m;

.main-content-service {
    @include m.desktopXXL {
        @include m.grid(2);
    }
}

.images-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 0 1rem;
    @include m.desktopXL {
        @include m.grid(2);
        justify-items: center;
    }
}

.small-images {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.desktopXL {
        align-content: center;
    }
    @include m.desktopXXL {
        margin-left: 20rem;
    }


    .img-1,
    .img-2,
    .img-3 {
        width: 20rem;
        height: 20rem;
        background-color: v.$purple;
        margin:0 2rem 5rem 2rem;
        border-radius: 3rem;
        @include m.tablet {
            width: 45rem;
            height: 40rem;
        }
        @include m.desktopXL {
            width: 15rem;
            height: 15rem;
            margin: 0 0 5rem 0;
        }


        // &:last-child {
        //     margin-bottom: 0;
        // }
    }

}

.big-image {
    margin-left: 0;
    @include m.desktopXXL {
        margin-left: 5rem;
        align-content: center;
    }


    .img-4 {
        width: 30rem;
        height: 35rem;
        background-color: v.$purple;
        border-radius: 6rem;
        @include m.tablet {
            width: 60rem;
            height: 65rem;
        }
    }
}

.service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.desktopXXL {
        display: grid;
        grid-template-rows: repeat(1, 1fr 3fr);
        justify-items: center;
        margin-right: 10rem;
    }

    .service-info-title {
        color: v.$blue;
        margin-top: 5rem;
        @include m.desktopXXL {
            margin-top: 0;
            align-content: end;
        }
        
        h3 {
            font-weight: 100;
            font-size: 6rem;
        }
    }

    .service-info-description {
        background-color: v.$blue;
        width: 40rem;
        height: 55rem;
        border-radius: 5rem;

        p {
            text-align: center;
            padding: 4rem;
        }
    }
}

.quote {
    display: flex;
    flex-direction: row;
    background-color: v.$purple;
    margin:  5rem 0 5rem 0;
    max-width: auto;
    max-height: auto;
    border-radius: 8rem;
    align-items: center;
    justify-content: center;
    @include m.desktopXXL {
        background-color: v.$purple;
        width: 90rem;
        margin: 0 0 5rem 17rem;
    }

    img {
        width: 10rem;
        height: 10rem;
    }

    a {
        padding: 1rem;
        font-size: 7rem;
        font-weight: 100;
        margin: 0;
        color: v.$blue;
        text-align: center;
    }
}