@use 'base/variables' as v;
@use 'base/mixins' as m;


.main-content-social_media {
    @include m.desktop {
        height: 85rem;
    }
    @include m.desktopXL {
        height: 105rem;
    }
    .social-media-texts_1 {
        @include m.desktop {
            margin-top: 20rem;
            @include m.grid(4);
        }
        .instagram,
        .facebook,
        .tik_tok,
        .x {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            @include m.desktop {
                margin-top: 0;
            }
        }
    }

    .social-media-texts_2 {
        @include m.desktop {
            width: 150rem;
            @include m.grid(3, 0rem);
            margin-top: 10rem;
            margin-left: 23rem;
        }

        .telefono,
        .correo,
        .ubicacion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            @include m.desktop {
                margin-top: 0;
            }
        }
    }

    h3 {
        font-size: 4rem;
        font-weight: 100;
        margin: 0;
        color: v.$blue;
    }

    p {
        margin: 0;
        color: v.$blue;
    }
}