@use 'base/variables' as v;
@use 'base/mixins' as m;


.main-content-social_media {

    .social-media-texts_1 {
        @include m.grid(4);
        margin-top: 20rem;

        .instagram,
        .facebook,
        .tik_tok,
        .x {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .social-media-texts_2 {
        @include m.grid(3, 0rem);
        width: 150rem;
        margin-top: 10rem;
        margin-left: 23rem;

        .telefono,
        .correo,
        .ubicacion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    h3 {
        font-size: 4rem;
        font-weight: 100;
        margin: 0;
        color: v.$blue;
    }

    p {
        margin: 0;
        color: v.$blue;
    }
}